<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
</head>
<body ng-app="ToDoList">
<div ng-controller="MainController">
  <div ng-repeat="item in list">
    <li>{{ item }}}</li>
  </div>
  <input ng-model="addToDo">
  <button ng-click="addItem()">Add to ToDo</button>
</div>

<script src="lib/angular/angular.js"></script>
<script src="lib/angular-route/angular-route.js"></script>

<script src="app.js"></script>
<script src="contrllers/MainController.js"></script>

<script src="core/version/version.js"></script>
<script src="core/version/version-directive.js"></script>
<script src="core/version/interpolate-filter.js"></script>
</body>
</html>